.badge {
  block-size: 16px;
  inline-size: 16px;
  position: relative;
}

.badge__content {
  align-items: center;
  background-color: #06847b;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 0.6rem;
  inset-block-start: 0;
  inset-inline-end: 0;
  justify-content: center;
  line-height: 1;
  padding: 2px 6px;
  position: absolute;
  transform: translate(100%, 0);
}

.badge__content--dot {
  block-size: 8px;
  border-radius: 4px;
  display: block;
  inline-size: 8px;
  padding: 0;
}

.badge__content--top-left {
  inset-block-start: 0;
  inset-inline: 0 unset;
  position: absolute;
  transform: translateX(-100%);
}

.badge__content--bottom-right {
  inset-block: unset 0;
  inset-inline-end: 0;
  position: absolute;
  transform: translate(100%, 100%);
}

.badge__content--bottom-left {
  inset: logical unset 0 0 unset;
  position: absolute;
  transform: translate(-100%, 100%);
}

.badge__button {
  padding: 0;
  position: relative;
}

.badge__button svg {
  block-size: 16px;
  inline-size: 16px;
}
